.content
  .row
    .large-8.medium-8.large-push-4.medium-push-4.small-12.columns
      .content-right
        .content-right_news.padding-lr-15
          %h2 Результати пошуку
          -if @posts.empty? && @meetups.empty? && @asks.empty? && @news.empty?
            %p По вашому результату нічого не знайдено
          -else
          -@posts.each do |p|
            .content-right_news_inner
              .large-12.medium-12.small-12.columns
                .large-12.medium-12.small-12.columns
                  .content-right_news_inner_post-header
                    %h5=p.title
                .large-12.medium-12.small-12.columns.content-right_news_inner_post-text-button_blue-author-time-fix
                  .content-right_news_inner_post-text.cut
                    %p=simple_format(p.content)
                  .clear-both
                  .content-right_news_inner_post-author-time
                    %p=p.created_at.to_s(:db)
                  =link_to 'Детальніше', p, :class => "more-button_blue"
          -@meetups.each do |m|
            .content-right_news_inner
              .large-12.medium-12.small-12.columns
                .large-12.medium-12.small-12.columns
                  .content-right_news_inner_post-header
                    %h5=m.title
                .large-12.medium-12.small-12.columns.content-right_news_inner_post-text-button_blue-author-time-fix
                  .content-right_news_inner_post-text.cut
                    %p=simple_format(m.content)
                  .clear-both
                  .content-right_news_inner_post-author-time
                    %p=m.created_at.to_s(:db)
                  =link_to 'Детальніше', m, :class => "more-button_blue"
          -@asks.each do |a|
            .content-right_news_inner
              .large-12.medium-12.small-12.columns
                .large-12.medium-12.small-12.columns
                  .content-right_news_inner_post-header
                    %h5=a.title
                .large-12.medium-12.small-12.columns.content-right_news_inner_post-text-button_blue-author-time-fix
                  .content-right_news_inner_post-text.cut
                    %p=simple_format(a.content)
                  .clear-both
                  .content-right_news_inner_post-author-time
                    %p=a.created_at.to_s(:db)
                  =link_to 'Детальніше', a, :class => "more-button_blue"
          -@news.each do |n|
            .content-right_news_inner
              .large-12.medium-12.small-12.columns
                .large-12.medium-12.small-12.columns
                  .content-right_news_inner_post-header
                    %h5=n.title
                .large-12.medium-12.small-12.columns.content-right_news_inner_post-text-button_blue-author-time-fix
                  .content-right_news_inner_post-text.cut
                    %p=simple_format(n.content)
                  .clear-both
                  .content-right_news_inner_post-author-time
                    %p=n.created_at.to_s(:db)
                  =link_to 'Детальніше', n, :class => "more-button_blue"
      .clear-both
    .large-4.medium-4.small-12.large-pull-8.medium-pull-8.columns
      .content-left
        =render 'partial/sidebar/left/nextevent'
        =render 'partial/sidebar/left/company'