.wrapper
  =render 'partial/header'
  .content
    .row
      .large-12.medium-12.small-12.columns
        .content-right
          .content-right_news.padding-lr-15
            .large-12.columns.user-block
              %h2.content-header Редагувати профіль
              = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| 
                .large-12.medium-12.columns
                  .user-block_inner
                    =devise_error_messages!
                    .large-6.medium-6.columns.user-block_inner_left
                      %label Повне ім'я
                      =f.text_field :full_name, class: "input"
                      %label Email
                      =f.email_field :email, autofocus: true, class: "input"
                      -if devise_mapping.confirmable? && resource.pending_reconfirmation?
                        .div Currently waiting confirmation for: <%= resource.unconfirmed_email
                      %label Вік
                      =f.number_field :age, class: "input"
                    .large-6.medium-6.columns.user-block_inner_right
                      %label Пароль 
                      =f.password_field :password, autocomplete: "off", class: "input", placeholder: "пропустіть, якщо не бажаєте його змінити"
                      %label Підтвердіть пароль
                      =f.password_field :password_confirmation, autocomplete: "off", class: "input"
                      %label Поточний пароль
                      =f.password_field :current_password, autocomplete: "off", class: "input", required: "true", title: "введіть пароль щоб зберегти зміни"
                    %label Про мене:
                    =f.text_area :about
                    %label Добавити фотографію профілю
                    = f.file_field :userspro, :required => true
                    %input.more-button_blue.right{value: "Оновити профіль", type: "submit" }
                    .clear-both
            .large-12.medium-12.columns
              .user-block_inner
                %h3 Видалити мій аккаунт
                %p Незадоволені? 
                =button_to "Видалити аккаунт", registration_path(resource_name), data: { confirm: "Ви впевнені?" }, method: :delete, class: "more-button_grey"
  =render 'partial/footer'
    