.large-8.medium-8.large-push-4.medium-push-4.small-12.columns
  .content-right
    .content-right_news.padding-lr-15
      .large-12.columns.user-block
        .edit-block
          =form_for(@meetup) do |f|
            =f.label :Заголовок, :class => "edit-block-label"
            =f.text_field :title, :class => "title"
            =f.label :Текст, :class => "edit-block-label"
            =f.text_area :content, :class => "redactor", :style => "margin-bottom: 16px;"
            =f.label :Скорочено
            =f.text_area :excerpt
            =f.label :Дата
            =f.text_field :date
            =f.label :Адреса
            =f.text_field :address
            =f.file_field :imagem, :required => true
            .buttons-block
              =f.submit :class => "more-button_blue"
