<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @meetup.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= simple_format(@meetup.content) %>
</p>

<p>
  <strong>Excerpt:</strong>
  <%= @meetup.excerpt %>
</p>

<p>
  <strong>Date:</strong>
  <%= @meetup.date %>
</p>

<p>
  <strong>Address:</strong>
  <%= @meetup.address %>
</p>

<%= link_to 'Edit', edit_meetup_path(@meetup) %> |
<%= link_to 'Back', meetups_path %>
