.edit-block
  =form_for(@ask) do |f|
    =f.label :Запитання, :class => "edit-block-label"
    =f.text_field :title, :class => "title"
    =f.label :Опис, :class => "edit-block-label"
    =f.text_area :content, :class => "redactor"
    .buttons-block
      =f.submit :class => "more-button_blue", :style => "margin-top: 20px;"
    .clear-both

