<% if @ask.size == 0 %>
    <%= @user.user_email %>
<% end %>
<h1>Listing asks</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Email</th>
      <th>Answer</th>
      <th>Complete</th>
    </tr>
  </thead>

  <tbody>
    <% @asks.each do |ask| %>
      <tr>
        <td><%= ask.title %></td>
        <td><%= ask.content %></td>
        <td><%= ask.user_email %></td>
        <td><%= ask.comments.count %></td>
        <% if ask.complete == true %>
            <td><%=ask.complete.to_s %></td>
        <% else %>
            <td>false</td>
        <% end %>    
        <td><%= link_to 'Show', ask %></td>
        <% if current_user.id == ask.user_id || @user.has_role?(:admin) %>
            <td><%= link_to 'Edit', edit_ask_path(ask) %></td>
            <td><%= link_to 'Destroy', ask, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ask', new_ask_path %>
