<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @ask.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @ask.content %>
  <p><%= @ask.comments.count %></p>
</p>


<% if user_signed_in? %>
  <% if current_user.id == @ask.user_id %>
      <%= link_to 'Edit', edit_ask_path(@ask) %> |
      <%= link_to 'Back', asks_path %> |
      <%= form_for(@ask) do |f| %>
          <p><%= f.check_box :complete %></p>
          <%= f.submit %>
      <% end %>
  <% else %>
      <%= link_to 'Back', asks_path %>
  <% end %>

  <% if @ask.comments.size > 0 %>
    <h2>Comments</h2>
    <% for comment in @ask.comments %>
      <h3><%= comment.name %></h3>
      <h3><%= comment.user_email %></h3>
      <p><%= comment.content %></p>
    <% end %>
  <% end %>
  
  <h2>New Comment</h2>
  <%= form_for [@ask, Comment.new] do |f| %>
    <p><%= f.label :name %> <%= f.text_field :name %></p>
    <p><%= f.text_area :content, :rows => 10 %></p>
    <p><%= f.submit %></p>
  <% end %>
  <% else %>
  <%= link_to 'Back', asks_path %>
<% end %>