.content-left_another-news
  %h5 Інші новини:
- @news.each do |c|
  .content-left_another-news-block
    .content-left_another-news_time=c.created_at
    .content-left_another-news_text
      %a=c.title
.clear-block