.content-left_company
  %h5 Компанії:
  .content-left_company_inner
    %a{href: "#"}
      %img{src: "img/dc-media.png"}
  .content-left_company_inner
    %a{href: "#"}
      %img{src: "img/dc-media.png"}
  .content-left_company_inner
    %a{href: "#"}
      %img{src: "img/dc-media.png"}
  .content-left_company_inner
    %a{href: "#"}
      %img{src: "img/dc-media.png"}
.clear-both