.large-4.medium-4.small-12.large-pull-8.medium-pull-8.columns
  .content-left
    =render 'partial/sidebar/nextevent'
    =render 'partial/sidebar/company'
    =render 'partial/sidebar/anothernews'
    =render 'partial/sidebar/jobs'