.large-8.medium-8.large-push-4.medium-push-4.small-12.columns
  .content-right
    .content-right_news.padding-lr-15
      =render 'partial/postsblock' 
      %a.more-button_grey{href: "#"} Попередні записи