%footer
  .footer_bg.full-width
    .row
      .large-12.medium-12.columns
        .footer_socials
          %a.footer_socials-block1{href: "#"}
          %a.footer_socials-block2{href: "#"}
          %a.footer_socials-block3{href: "#"}
        .footer_terms-of-use
          %a Умови користування
        .footer_copyright
          %p 2014 ©  Всі права захищено
        .footer_developed-company
          %p Developed by Machinists