%header
  .row
    .large-12.medium-12.small-12.columns.padding-lr-15
      .large-2.columns.medium-5.small-12.header_logo
        =link_to root_path do
          =image_tag 'logo.png' 
      .large-4.columns.medium-6.header_search-login
        #ct-search.ct-search.right
          =form_tag(search_result_path, :method => "get", id: "searchform") do
            .ct-search-input-wrap
              =text_field_tag :search, params[:search], placeholder: "Search..." ,id: "s", class: " ct-search-input"
            =submit_tag "Search", :name => nil, id: "go", class: "ct-search-submit"
            %span.ct-icon-search
        .clear-both 
        - if user_signed_in?
          = link_to 'Вийти', destroy_user_session_path, :method => :delete
          = link_to "Редагувати профіль", edit_user_registration_path
          = link_to 'Профіль', userlist_show_path(current_user)
        -else
          =link_to 'Вхід', new_user_session_path
          =link_to 'Реєстрація', new_user_registration_path
  .full-width.header_navbg
    .row
      .large-12.medium-12.small-12.columns.padding-lr-15
        .large-3.medium-3.large-push-9.medium-push-9.columns.language-socials-fix
          .header_socials.right
            %a.header_socials-block1{href: "#"}
            %a.header_socials-block2{href: "#"}
            %a.header_socials-block3{href: "#"}
          .header_language.right
            #google_translate_element
            :javascript
              function googleTranslateElementInit() {
                new google.translate.TranslateElement({pageLanguage: 'uk', layout: google.translate.TranslateElement.InlineLayout.SIMPLE, multilanguagePage: true}, 'google_translate_element');
              }
            %script{src: "//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit", type: "text/javascript"}
        .large-9.medium-9.small-12.large-pull-3.medium-pull-3.small-pull-12.columns.navbar-fix
          %nav.top-bar{"data-topbar" => ""}
            %ul.title-area
              %li.name
              %li.toggle-topbar.menu-icon
                %a{href: "#"} Menu
            %section.top-bar-section
              %ul.left
                %li
                  =link_to 'Головна', root_path
                %li
                  =link_to 'Новини', news_index_path
                %li
                  =link_to 'Публікації', posts_path
                %li
                  =link_to 'Запитання', asks_path 
                %li
                  =link_to 'Події', meetups_path