.latest-news.full-width
  .row
    .large-12.medium-12.small-12.columns.padding-lr-10
      .large-7.medium-7.small-12.columns
        .latest-news_header-block
          %h1=@news_last.title
          =link_to 'Детальніше', @news_last, :class => "more-button_white"
      .large-4.medium-5.large-offset-1.small-12.columns
        .latest-news_another-news-block
          %h5.padding-lr-5 Інші новини
          - @news.each do |n| 
            .latest-news_another-news-block_inner.padding-5
              %p.latest-news_another-news-block_time= n.created_at.to_s(:time)
              %a.latest-news_another-news-block_text=n.title
