.edit-block
  =form_for(@news) do |f|
    =f.label :Заголовок, :class => "edit-block-label"
    =f.text_field :title, :class => "title"
    =f.label :Текст, :class => "edit-block-label"
    =f.text_area :content, :class => "redactor"
    =f.file_field :imagep, :required => true
    .buttons-block
      =f.submit :class => "more-button_blue", :style => "margin-top: 20px;"
    .clear-both
