
<% if user_signed_in? %>
  <%= link_to t('devise.sign-out'), destroy_user_session_path, :method => :delete %>
  <% else %>
<% end %>

<% if @user.has_role? :admin %>
  <h1>Admin</h1>
<% elsif @user.has_role? :user %>
  <h1>User</h1>
<% else %>
  <h1>Guest</h1>
<% end %>

<h1>Listing news</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
    </tr>
  </thead>

  <tbody>
    <% @news.each do |news| %>
      <tr>
        <td><%= news.title %></td>
        
        <td class="test"><%= simple_format(news.content) %>...</td>
        <td><%= link_to 'Show', news %></td>
        <% if @user.has_role?(:admin) %>
            <td><%= link_to 'Edit', edit_news_path(news) %></td>
            <td><%= link_to 'Destroy', news, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New News', new_news_path %>



        