
.wrapper
  =render 'partial/header'
  .content
    .row
      %h2.content-header Переглянути профіль
      .large-4.medium-4.small-12.columns
        .content-left
          = image_tag @user.userspro_url(), class: "userlist-userimg" if @user.userspro?
      .large-8.medium-8.small-12.columns
        .content-right
          .content-right_news.padding-lr-15
            .large-12.columns.user-block
              .large-6.medium-6.columns.user-block_inner_left
                %label=@user.full_name
                %label=@user.email
                %label{style: "float: left"}Вік: &ensp;
                %label{style: "float: left"}=@user.age + ' років'
              .large-6.medium-6.columns.user-block_inner_right
                %label{style: "float: left"}Отримано відповідей: &ensp;
                %label{style: "float: left; color: red;"}=@user.asks.count
                .clear-both
                %label{style: "float: left"}Доданих новин: &ensp;
                %label{style: "float: left; color: red;"}=@user.news.count
                .clear-both
                %label{style: "float: left"}Доданих постів: &ensp;
                %label{style: "float: left; color: red;"}=@user.posts.count 
              %label=@user.about
              .clear-both
  =render 'partial/footer'
    