<h1>Userslist#show</h1>
<p>Find me in app/views/userslist/show.html.erb</p>
<%= @user.email %>

<br>  
<%= @user.full_name %>
<br>
<%= @user.age %>

<br>
<%= @user.about %>
<br>
<br>
Ask count
<%= @user.asks.count %>
<br><br>
<br>
News count
<%= @user.news.count %>
<br>
Post count
<%= @user.posts.count %>

<%= image_tag @user.userspro_url() if @user.userspro? %>
