.buttons-block
  -if user_signed_in?
    -if current_user.has_role?(:admin)
      =link_to 'Видалити', @post, method: :delete, data: { confirm: 'Are you sure?' }, class: "more-button_blue"
      =link_to 'Редагувати', edit_post_path(@post), class: "more-button_blue"
      =link_to 'Назад', posts_path, class: "more-button_blue"
  -else    
    .buttons-block
      =link_to 'Назад', posts_path, class: "more-button_blue"
    .clear-both