.large-8.medium-8.large-push-4.medium-push-4.small-12.columns
  .content-right
    .single-post.padding-lr-15
      =render 'form'
      .buttons-block
        =link_to 'Назад', posts_path, class: "more-button_blue"
        =link_to 'Показати', @post, class: "more-button_blue"
      .clear-both