.large-8.medium-8.large-push-4.medium-push-4.small-12.columns
  .content-right
    .single-post.padding-lr-15
      = image_tag @post.imagep_url() if @post.imagep?
      %h2=@post.title
      .single-post_author-time
        %p=@post.created_at.to_s(:db)
      .single-post_text.cut
        %p=simple_format(@post.content)
    =render 'posts/partial/buttonsblock'
                 