.content-left_company
  %h5 Компанії:
  .content-left_company_inner
    %a{href: "http://dcmedia.me"}
      =image_tag 'dc-media.png'
  .content-left_company_inner
    %a{href: "http://dcmedia.me"}
      =image_tag 'dc-media.png'
  .content-left_company_inner
    %a{href: "http://dcmedia.me"}
      =image_tag 'dc-media.png'
  .content-left_company_inner
    %a{href: "http://dcmedia.me"}
      =image_tag 'dc-media.png'
.clear-both