.content-left_next-event
  .content-left_next-event_header
    %p Наступна подія
  .content-left_next-event_name.padding-lr-20
    =link_to @meetup.title, @meetup
  .content-left_next-event_date
    %p=@meetup.date
  .content-left_next-event_adress
    %p=@meetup.address
  .clear-both
  .content-left_next-event_text.padding-lr-20=@meetup.excerpt
.clear-both