.buttons-block
  -if user_signed_in?
    - if current_user.has_role?(:admin)
      =link_to 'Редагувати', edit_meetup_path(@meetup), class: "more-button_blue"
      =link_to 'Видалити', @meetup, method: :delete, data: { confirm: 'Are you sure?' }, class: "more-button_blue"
      =link_to 'Назад', @meetup_index_path, class: "more-button_blue"
  -else
    =link_to 'Назад', @meetup_index_path, class: "more-button_blue"
.clear-both
