.large-8.medium-8.large-push-4.medium-push-4.small-12.columns
  .content-right
    .single-post.padding-lr-15
      = image_tag @meetup.imagem_url() if @meetup.imagem?
      %h2=@meetup.title
      .single-post_author-time
        %p=@meetup.date
        %p=@meetup.address
      %p.single-post_text=simple_format(@meetup.content)
    =render 'meetups/partial/buttonsblock'
                 