    <div class='login-logout-bg'>
      <div class='login-logout'>
      <%=link_to (image_tag 'logo.png') %>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>
          <div><%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, :class => 'input' %></div>
          <div><%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "off", :class => 'input' %></div>
          <% if devise_mapping.rememberable? -%>
          <div class="checkbox"><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
          <% end -%>
          <div><%= f.submit "Sign in", :class => 'more-button_blue' %></div>
        <% end %>
        <div class='clear-both'></div>
        <div class="login-logout_a">
        <%= render "devise/shared/links" %>
        <%=link_to '← Back to IT Student', root_path, :class => 'back' %>
        </div>
      </div>
    </div>
