.edit-block
  =form_for(@post) do |f|
    =f.label :Title, :class => "edit-block-label"
    =f.text_field :title, :class => "title"
    =f.label :Content, :class => "edit-block-label"
    =f.text_area :content, :class => "redactor"
    =f.file_field :imagep, :required => true
    .buttons-block
      =f.submit :class => "more-button_blue"
    .clear-both
