.wrapper
  =render 'partial/header'
  .content
    .row
      .large-8.medium-8.large-push-4.medium-push-4.small-12.columns
        .content-right
          .content-right_news.padding-lr-15
            =render 'form'
      =render "partial/sidebar/left/sidebar"
  =render 'partial/footer'
    