.content-left_another-news
  %h5 Інші новини:
  -@news_all.each do |n|
    .content-left_another-news-block
      .content-left_another-news_time=n.created_at.to_s(:db)
      .content-left_another-news_text
        =link_to n do
          =n.title
.clear-block