.buttons-block
  - if current_user.has_role?(:admin)
    //=link_to 'Редагувати', edit_news_path(@news), class: "more-button_blue"
    =link_to 'Видалити', @news, method: :delete, data: { confirm: 'Are you sure?' }, class: "more-button_blue"
    =link_to 'Назад', news_index_path, class: "more-button_blue"
  - else
    =link_to 'Назад', news_index_path, class: "more-button_blue"
.clear-both