-if user_signed_in?
  -if current_user.has_role?(:admin)
    =link_to 'Додати новину', new_news_path, :class => "more-button_blue"
- @news.each do |b|
  .content-right_news_inner
    .large-12.medium-12.small-12.columns
      .large-3.medium-3.small-4.columns
        .content-right_news_inner_post-img
        = image_tag 'https://its-c9-verkalets.c9.io/uploads/user/userspro/5344328265782d7b82000000/gravater.png'
      .large-9.medium-9.small-8.columns
        .content-right_news_inner_post-header
          %h5=b.title
      .large-9.medium-9.small-8.columns.content-right_news_inner_post-text-button_blue-author-time-fix
        .content-right_news_inner_post-text
          .cut
            %p=simple_format(b.content)
        .clear-both
        .content-right_news_inner_post-author-time
          %p=b.created_at.to_s(:db)
        =link_to 'Детальніше', b, :class => "more-button_blue"
.clear-both
  = paginate @news

