- @posts.each do |b|
  .content-right_news_inner
    .large-12.medium-12.small-12.columns
      .large-3.medium-3.small-4.columns
        .content-right_news_inner_post-img
      .large-9.medium-9.small-8.columns
        .content-right_news_inner_post-header
          %h5=b.title
          =image_tag b.imagep_url() if b.imagep?
      .large-9.medium-9.small-8.columns.content-right_news_inner_post-text-button_blue-author-time-fix
        .content-right_news_inner_post-text
          %p=simple_format(b.content)
        .clear-both
        .content-right_news_inner_post-author-time
          %p=b.created_at.to_formatted_s(:short) + 'часов назад'
        =link_to 'Детальніше', b, :class => "more-button_blue"
.clear-bothа