.large-4.medium-4.small-12.large-pull-8.medium-pull-8.columns
  .content-left
    =render 'partial/sidebar/left/nextevent'
    =render 'partial/sidebar/left/company'
    =render 'news/partial/anothernews'