.large-8.medium-8.large-push-4.medium-push-4.small-12.columns
  .content-right
    .single-post.padding-lr-15
      = image_tag 'https://its-c9-verkalets.c9.io/uploads/user/userspro/5344328265782d7b82000000/gravater.png'
      %h2=@news.title
      .single-post_author-time
        %p=@news.created_at.to_s(:db)
      .single-post_text
        %p=simple_format(@news.content)
    =render 'news/partial/buttonsblock'
                 