// Place all the styles related to the Asks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.test {
  img {
    width: 100px;
    height: 100px;
  }
  
  }
  
  .buttons-block {
    overflow: hidden;
    float: right;
    .more-button_blue {
      margin: 5px;
      float: right;
    }
    #ask_complete {
      width: 20px;
      height: 20px;
      float: right;
      margin: 14px;
    }
  }
  
  .login-logout-bg {
  background: #f1f1f1;
  min-width: 0;
  color: #444;
  height: auto;
      form {
      margin-top: 20px;
      margin-left: 0;
      padding: 26px 24px 46px;
      font-weight: 400;
      overflow: hidden;
      background: #fff;
      -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.13);
      box-shadow: 0 1px 3px rgba(0,0,0,.13);
    }
    .checkbox {
      margin-top: 12px;
      width: 140px;
      float: left; 
      label {
        position: relative;
        top: -2px;
      }
      #user_remember_me {
        margin-bottom: 0;
      }
    }
  .login-logout {
    
    width: 320px;
    padding: 8% 0;
    margin: auto;
    label {
      margin-bottom: -10px;
    }
    .back {
      font-size: 15px;
      margin-top: 10px;
      display: block;
    }
    .input {
      font-size: 24px;
      line-height: 1;
      width: 100%;
      padding: 3px;
      border: 1px solid #ddd;
      -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
      box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
      background-color: #fff;
      color: #333;
      -webkit-transition: .05s border-color ease-in-out;
      transition: .05s border-color ease-in-out;
      &:focus {
        border-color: #00b0ff ;
      }
    }
    .login-logout_a {
      padding: 10px 25px;
      a {
        color: #999;
        font-size: 13px;
        &:hover {
          color: #2ea2cc;
        }
      }
    }
    a {
      img {
        margin: 0 auto;
        display: block;
        margin-bottom: 25px;
      }
    }
    .more-button_blue {
      float: right;
    }
  }
}

.userlist-userimg {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}
  
  

/*----------COLORS---------*/
$blue: #0083C0;
$dark-blue: #0069a2;
$white: #fff;
$black: #000;
$orange: #ef6009;

.full-width {
  width: 100%;
}

.column, .columns {
padding-left: 0!important;
padding-right: 0!important;
}

.padding-lr-15 {
  padding: 0 15px!important;
}
.padding-lr-10 {
  padding: 0 10px!important;
}
.padding-lr-5 {
   padding: 0 5px!important;
 }
.padding-5 {
  padding:5px!important;
}
.padding-lr-20 {
  padding: 0 20px!important;
}
.padding-r {
  padding-right: 15px!important;
}

.bold {
  font-weight: bold!important;
}

.clear-both{
  clear: both;
}
/*--------EXTEND--------*/
.socials-block{
  width: 23px;
  height: 23px;
  display: block;
  border-radius: 3px;
  float:left;
  margin-left: 10px;
}
.sidebar-block {
  background: #f6f6f6;
  padding-bottom: 40px;
  border: 1px solid #f1f1f1;
}
.more-button {
  border-style: solid;
  border-width: 2px;
  border-radius: 20px;
  padding: 7px 21px;
  font-size: 16px;
  font-weight: bold;
  display: table;
  cursor: pointer;
  outline: 0;
}

.more-button_white {
  @extend .more-button;
  border-color: $white;
  color: $white;
  &:hover {
    border-color: #d0d0d0;
    color: #d0d0d0;
  }
}

.more-button_green {
  @extend .more-button;
  border-color: #33E87C;
  color: #33E87C;
  width: 100%;
  font-size: 28px;
  text-align: center;
  margin: 10px;
  padding: 15px;
  &:hover {
    border-color: #2BBB59;
    color: #2BBB59;
  }
}

.more-button_blue {
  @extend .more-button;
  border-color: #0083c0;
  color: #0083c0;
    background: $white;
  &:hover {
    border-color: #006ea3;
    color: #006ea3;
  }
}

.more-button_grey {
  @extend .more-button;
  border-color: #bbbbbb;
  color: #bbbbbb;
  background: $white;
  &:hover {
    border-color: #d0d0d0;
    color: #d0d0d0;
  }
}

.error-page {
  background: $white;
  height: 100%;
  img {
    max-width: 100%;
    margin: 0 auto;
    display: block;
  }
  p {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: red;
    font-size: 48px;
    padding-top: 10%;
    &:last-child {
      padding-top: 0;
    }
  }
}

.edit-block {
  .edit-block-label {
    color: $black;
    font-size: 20px;
    margin-bottom: 30px;
    font-weight: bold;
  }
  .title {
    font-size: 18px;
      line-height: 1;
      width: 100%;
      padding: 3px;
      border: 1px solid #ddd;
      -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
      box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
      background-color: #fff;
      color: #333;
      -webkit-transition: .05s border-color ease-in-out;
      transition: .05s border-color ease-in-out;
      &:focus {
        border-color: #00b0ff ;
      }
  }
  #post_imagep, #news_imagep{
    margin-top: 15px;
  }
}

.pagination {
  display: table;
  margin: 18px auto;
  span {
    float: left;
    text-align: center;
    font-size: 20px;
    color: #8d8d8d;
    padding: 5px;
    display: table;
    span {
      padding: 0!important;
    }
    a {
      color: #8d8d8d;
    }
    &:hover .translation_missing {
      color: $white;
    }
    &:hover {
      background: $blue;
      cursor: pointer;
      color :$white;
      a {
        color: $white;
      }
    }
  }
}

.user-block {
  .user-block_user-img {
    max-width: 100%;
    margin: 10px;
    display: block;
    margin: 0 auto;
  }
  .user-block_inner {
    margin-left: 15px;
  textarea {
    resize: none;
    min-height: 100px;
  }
    h3 {
    color: #8d8d8d;
    font-size: 18px;
  }
  }
  label {
    margin-bottom: 10px;
  }
  .input, textarea {
    font-size: 16px;
    line-height: 1;
    width: 100%;
    padding: 3px;
    border: 1px solid #ddd;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.07);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.07);
    background-color: #fff;
    color: #333;
    -webkit-transition: .05s border-color ease-in-out;
    transition: .05s border-color ease-in-out;
    &:focus {
        border-color: #00b0ff ;
      }
  }
  .more-button_grey {
      padding: 7px 10px;
      font-size: 14px;
    }
  .columns.user-block_inner_left {
    padding-right: 15px!important;
  }
  .columns.user-block_inner_right {
    padding-left: 15px!important;
  }
}

body {
  background: #f1f1f1;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  p {
    color: #8d8d8d;
    line-height: 20px;
    font-size: 14px;
  }
 .wrapper {
   background: $white;
   min-width: 320px;
   header {
     .header_logo, .header_search-login {
       margin: 20px 0;
     }
     .header_logo {

     }
     .header_search-login {
       a{
         margin-left: 20px;
         float: right;
         padding: 9px 0;
         color: $blue;
         font-size: 12px;
         font-weight: bold;
         text-transform: uppercase;
         &:hover {
           color: $dark-blue;
         }
       }
       #ct-search {
         margin-right: 10px;
         width: 50px;
         height: 32px;
         display: block;
         background: image_url('search-icon.png');
         background-position: center;
         background-repeat: no-repeat;
         position: relative;
         float: right;
         z-index: 100000;
       }
       .ct-search-input-wrap {
         position: absolute;
         right: 37px;
         height: 32px;
         width: 0;
         overflow: hidden;
         -webkit-transition: width 500ms;
         -moz-transition: width 500ms;
         transition: width 500ms;
       }
       input[type="submit"].ct-search-submit {
         background: transparent;
         color: transparent;
         box-shadow: none;
         border: none;
         padding: 0;
         border-radius: 0;
         outline: none;
         z-index: -1;
       }
       .ct-icon-search, input[type="submit"].ct-search-submit {
        border: 2px solid #cfcfcf;
        border-radius: 15px;
         width: 50px;
         height: 32px;
         display: block;
         position: absolute;
         right: 0;
         top: 0;
         line-height: 42px;
         text-align: center;
         cursor: pointer;
         background-repeat: no-repeat;
         background-position: center;
       }
       .ct-search {
         .ct-search-open {
           .ct-icon-search {
             z-index: 90;
             z-index: 1;
             pointer-events: none;
           }
         }
       }
       .ct-search.ct-search-open input[type="submit"].ct-search-submit {
         z-index: 90;
       }
       .ct-search.ct-search-open input[type="text"].ct-search-input {
         opacity: 1;
         margin: 2px 15px;
       }
       input[type="text"].ct-search-input {
         border: none!important;
         box-shadow: none!important;
         outline: none;
         opacity: 0;
         background: #fff;
         width: 144px;
         height: 24px;
         margin: 0;
         padding: 0;
         padding-left: 2px;
       }
       .ct-search.ct-search-open .ct-search-input-wrap {
         width: 168px;
         border-bottom: 2px solid #cfcfcf;
         border-top: 2px solid #cfcfcf;
         border-left: 2px solid #cfcfcf;
         border-top-left-radius: 15px;
         border-bottom-left-radius: 15px;
         background: $white;
         z-index: 9999;
       }
     }
     .header_navbg {
        background: $blue;
       border-top: 1px solid #0d7aac;
       border-bottom: 1px solid #0d7aac;
      .top-bar {
        background: $blue!important;
        .title-area {
          background: $blue!important;
        }
        .top-bar-section {
          ul {
            background: $blue!important;
            li {
              a {
                background: $blue!important;
              }
            }
          }
        }
      }
      nav {
        .left {
          li {
            a {
              text-transform: uppercase;
              font-size: 15px;
              font-weight: bold;
              padding-left: 10px;
              padding-right: 25px;
            }
            &:last-child {
              a {
                padding-right: 0!important;
              }
            }
            &:first-child {
              a {
                padding-left: 0!important;
              }
            }
          }
        }
      }
    }
     .header_language {
       padding: 8px 0;
       .goog-te-gadget {
         .goog-te-gadget-simple {
         padding: 5px 5px;
         border: 2px solid rgb(155, 155, 155) !important;
         border-radius: 20px;
         max-width: 100px;
         display: block;
         overflow: hidden;
         .goog-te-menu-value {
           margin-left: 0;
           margin-right: 0;
          span {
            color: #cfcfcf;
            font-weight: normal;
          }
         }
       }
       }
       
       img {
         display: none;
       }
       .goog-te-menu-value {
         span {
           border: none !important;
         }
       }
       a {
         color: $white;
         font-size: 12px;
         font-weight: bold;
         margin-right: 10px;
       }
     }
      .header_socials {
        padding: 11px 0;
        .header_socials-block1 {
          @extend .socials-block;
          background: #3d5894;
          background-image: image_url('facebook-icon.png');
          background-repeat: no-repeat;
          background-position: center;
        }
        .header_socials-block2 {
          @extend .socials-block;
          background: #28a5db;
          background-image: image_url('twitter-icon.png');
          background-repeat: no-repeat;
          background-position: center;
        }
        .header_socials-block3 {
          @extend .socials-block;
          background: #e04a2c;
          background-image: image_url('google+-icon.png');
          background-repeat: no-repeat;
          background-position: center;
        }
      }
   }
   .latest-news {
     padding-top: 27%;
     padding-bottom: 20px;
     .latest-news_header-block{
        h1 {
          padding-right: 10px;
          font-size: 46px;
          color: $white;
          font-weight: bold;
          line-height: 100%;
          margin-bottom: 10%;
        }
       .more-button_white {
       }
     }
     .latest-news_another-news-block {
       h5, p, a {
         color: $white;
         font-size: 14px;
       }
       p, a {
         line-height: 16px;
       }
       h5 {
         font-weight: bold;
         margin-bottom: 20px;
       }
       .latest-news_another-news-block_inner {
         margin-bottom: 10%;
         display: block;
         overflow: hidden;
         &:hover {
           background: rgba(0,131,192,0.4);
         }
         .latest-news_another-news-block_time, .latest-news_another-news-block_text {
           float: left;
         }
         .latest-news_another-news-block_time {
              margin: 0;
         }
         .latest-news_another-news-block_text {
           width: 80%;
           padding-left: 8%;
         }
       }
     }
   }
   .content {
     padding: 30px 0;
     .content-header {
        font-size: 46px;
        color: $black;
        font-weight: bold;
        line-height: 100%;
        margin-bottom: 3%;
        margin-left: 15px;
      }
     .content-left {
       .content-left_comments {
         overflow: hidden;
          margin-bottom: 20px;
          padding: 0 15px;
          .content-left_comments_header {
            p {
              font-size: 16px;
              border-bottom: 2px solid $blue;
              color: $blue;
              margin-bottom: 0;
              padding-bottom: 10px;
              text-transform: uppercase;
              margin-bottom: 20px;
            }
          }
          form {
            .more-button_blue {
              float: right;
            }
            textarea {
              resize: none;
              border: 2px solid #cce6f2;
              border-radius: 15px;
              width: 100%;
              outline: 0;
              box-shadow: none;
              padding: 20px;
              height: 115px;
              overflow-y: hidden;
            }
          }

          .content-right_user-comments_block {
            overflow: hidden;
            margin: 6% 0;
            .content-right_user-comments_user-img {
              width: 40px;
              height: 40px;
              overflow: hidden;
              float: left;
              img {
                width: 40px;
                height: 40px;
                border-radius: 20px;
                display: block;
              }
            }
            .content-right_user-comments_user-name {
              float: left;
              p {
                padding: 0 15px;
                margin-bottom: 0;
                margin-top: 10px;
                color: black;
              }
            }
            .content-right_user-comments_date {
              background: url(../img/date-icon.png) no-repeat;
              background-position: center left;
              float: left;
              margin-right: 7%;
              margin-top: 10px;
              p {
                font-size: 12px;
                margin-bottom: 0;
                padding-left: 15px;
              }
            }
            .content-right_user-comments_text {
              p {
                margin-top: 20px;
                margin-bottom: 0;
              }
            }
          }
        }
        .content-left_question {
          margin: 50px 0;
          overflow: hidden;
          min-height: 67px;
          &:first-child {
            margin-top: 30px;
          }
          &:last-child {
            margin-bottom: 30px;
          }
          .content-left_question_question-text_answers, .content-left_question_question-text_question-author {
            float: left;
            margin-right: 7%;
            p {
              font-size: 12px;
              margin-bottom: 0;
            }
          }
          .green {
            background: #15c35e;
            p {
              color: $white!important;
            }
          }
          .content-left_question_question-number {
            width: 67px;
            height: 67px;
            border: 2px solid $blue;
            border-radius: 35px;
            padding-top: 22px;
            p {
              margin: 0;
              color: $blue;
              font-weight: bold;
              font-size: 24px;
              text-align: center;
            }
          }
          .content-left_question_question-text_question-ask {
            margin-top: 7%;
          }
          .content-left_question_question-text {
            width: 100%;
            padding-left: 90px;
            position: relative;
            top:-67px;
            margin-bottom: -67px;
            overflow: hidden;
            padding-right: 15px;
            a {
              display: table;
              overflow: hidden;
              h3 {
                color: $black;
                font-size: 16px;
                font-weight: bold;
              }
            }
            .content-left_question_question-text_answers {
              p {
                color: #7f7f7f;
              }
            }
            .content-left_question_question-text_question-author {
              background-image: image_url('user-icon.png');
              background-repeat: no-repeat;
              background-position: center left;
              p {
                padding-left: 15px;
              }
            }
            .content-left_question_question-text_question-date {
              background-image: image_url('date-icon.png');
              background-repeat: no-repeat;
              background-position: center left;
              width: 130px;
              display: block;
              overflow: hidden;
                p {
                  font-size: 12px;
                  margin-bottom: 0;
                  padding-left: 15px;
                }
            }
          }
        }
     .content-left_next-event {
        @extend .sidebar-block;
         .content-left_next-event_header {
           height: 85px;
           background: $orange;
           background-image: image_url('cookie-img.png');
           background-repeat: no-repeat;
           background-position: center right;
           padding: 32px 0;
           p {
             font-size: 16px;
             font-weight: bold;
             text-transform: uppercase;
             color: $white;
             margin-left: 15px;
           }
         }
         .content-left_next-event_name {
            a {
              font-size: 16px;
              font-weight: bold;
              color: $orange;
            }
           margin: 30px 0;
         }
         .content-left_next-event_date, .content-left_next-event_adress {
           float: left;
         }
         .content-left_next-event_date {
           width: 40px;
           height: 40px;
           border: 2px solid $orange;
           border-radius: 20px;
           margin-left: 20px;
           p {
             padding: 16px;
             font-weight: bold;
             padding: 0;
             text-align: center;
             margin-top: 9px;

           }
         }
         .content-left_next-event_adress {
           position: relative;
           width: 100%;
           padding-left: 70px;
           padding-right: 10px;
           top: -35px;
           p {
             line-height: 15px;
           }
         }
         .content-left_next-event_text {

         }

       }
     .content-left_company {
       margin: 30px 0;
       display: block;
       overflow: hidden;
       h5 {
         color: #ef6009;
         font-weight: bold;
         font-size: 14px;
         margin-bottom: 20px;
       }
       .content-left_company_inner {
         width: 33.33333%;
         float: left;
         position: relative;
         height: 40px;
         img {
           position:absolute;
           margin:auto;
           top:0;
           bottom:0;
           left:0;
           right:0;
         }
       }
     }
     .content-left_another-news {
       h5 {
         color: $orange;
         font-weight: bold;
         font-size: 14px;
         margin: 20px 0;
       }
       .content-left_another-news-block {
         margin: 10px 0;
         width: 100%;
         overflow: hidden;
         display: block;
         margin: 25px 0;
         .content-left_another-news_time, .content-left_another-news_text {
           float: left;
         }
         .content-left_another-news_time {
           color: #c9c9c9;
           padding-left: 8%;
         }
         .content-left_another-news_text {
           width: 80%;
           padding-left: 8%;
           a {
             color: #666666;
           }
         }
       }
     }
     .content-left_jobs {
       @extend .sidebar-block;
       .content-left_jobs_header {
         height: 85px;
         background: #00569c;
         padding: 32px 0;
         margin-bottom: 15px;
         p {
           font-size: 16px;
           font-weight: bold;
           text-transform: uppercase;
           color: $white;
           margin-left: 15px;
         }
       }
       .content-left_jobs-block {
         padding: 13px 0;
         padding-left: 30px;
         .content-left_jobs-block-vacancy {
           a {
             font-size: 16px;
             font-weight: bold;
             color: #0083c0;
           }
         }
         .content-left_jobs-block-company {
           p {
             margin-bottom: 0;
           }
         }
       }
     }
     }
     .content-right {
       .content-right_popular-questions {
          background: #f6f6f6;
          padding-bottom: 10px;
          border: 1px solid #f1f1f1;
          margin-right: 15px;
          .content-right_popular-questions_header {
            height: 85px;
            background: #ef6009;
            background-image: url(../img/popular-question-bg.png);
            background-repeat: no-repeat;
            background-position: center right;
            padding: 32px 0;
            p {
              font-size: 16px;
              font-weight: bold;
              text-transform: uppercase;
              color: white;
              margin-left: 15px;
            }
          }
          .content-right_popular-questions_block{
            margin: 10px 0;
            .content-right_popular-questions_block_circle {
              width: 40px;
              height: 40px;
              border: 2px solid #ef6009;
              border-radius: 20px;
              margin-left: 10px;
              p {
                font-weight: bold;
                padding: 0;
                text-align: center;
                margin-top: 7px;
              }
            }
            .content-right_popular-questions_block_question {
              position: relative;
              width: 100%;
              padding-left: 60px;
              padding-right: 10px;
              top: -40px;
              p {
                color: $black;
                margin-bottom: -15px;
              }
            }
          }
        }
        .content-right_user-rating {
          margin: 20px 0;
          margin-right: 15px;
          .content-right_user-rating_header {
            p {
              font-size: 16px;
              font-weight: bold;
              text-transform: uppercase;
              color: $black;
              margin-bottom: 10px;
            }
          }
          .content-right_user-rating_block {
            margin: 10px 0;
            .content-right_user-rating_user-img {
              width: 40px;
              height: 40px;
              overflow: hidden;
              float: left;
              img {
                width: 40px;
                height: 40px;
                border-radius: 20px;
                display: block;
              }
            }
            .content-right_user-rating_user-name {
              float: left;
              max-width: 77%;
              p {
                padding: 0 15px;
                margin-bottom: 0;
                margin-top: 10px;
                color: $black;
              }
            }
            .content-right_user-rating_user-rating {
              float: right;
              p {
              color: $orange;
                margin-top: 10px;
                margin-bottom: 0;
              }
            }
          }
        }
       .content-right_news {
         .content-right_news_inner {
           overflow: hidden;
           margin-bottom: 30px;
           .large-9 {
             padding-left: 15px!important;
           }
           .content-right_news_inner_post-img {
             min-height: 40px;
              a {
                display: block;
                overflow: hidden;
                img {
                  max-width: 100%;
                }
              }
           }
           .content-right_news_inner_post-header {
             h5 {
               font-size: 16px;
               font-weight: bold;
               color: $black;
               margin: 0;
             }
           }
           .content-right_news_inner_post-text {
              p {
                margin: 20px 0;
              }
           }
           .more-button_blue {
              float: left;
           }
           .content-right_news_inner_post-author-time {
              float: right;
             p {
               font-size: 12px;
               margin-top: 7px;
             }
           }
         }
       }
       .single-post {
         .bold {
           color: $black!important;
         }
         h2 {
           font-size: 35px;
           font-weight: bold;
           color: $black;
           line-height: 35px;
         }
         .single-post_author-time {
           margin-top: 25px;
           margin-bottom: 15px;
            p {
              color: #a3a3a3;
              font-size: 12px;
              margin: 0;
            }
         }
         .single-post_text {
           padding: 20px 0;
           a {

           }
         }
       }
     }
   }
   footer {
     .footer_bg {
       background: #0083c0;
       background-image: image_url('footer-bg-img.png');
       padding: 6% 0;
       p,a {
         color: $white;
         font-size: 16px;
         margin: 0;
       }
       .footer_terms-of-use, .footer_copyright, .footer_socials {
         float: left;
         margin: 0 15px;
       }
       .footer_terms-of-use {
         padding: 2px 0;
       }
       .footer_socials{
         .footer_socials-block1 {
           @extend .socials-block;
           background: $white;
           background-image: image_url('facebook-footer-icon.png');
           background-repeat: no-repeat;
           background-position: center;
         }
         .footer_socials-block2 {
           @extend .socials-block;
           background: $white;
           background-image: image_url('twitter-footer-icon.png');
           background-repeat: no-repeat;
           background-position: center;
         }
         .footer_socials-block3 {
           @extend .socials-block;
           background: $white;
           background-image: image_url('google+-footer-icon.png');
           background-repeat: no-repeat;
           background-position: center;
         }
       }
       .footer_developed-company {
         float: right;
       }
     }
   }
 }
}

/*----------MEDIA QUIERIES----------*/

@media (max-width: 1040px) {
  .header_logo {
    margin-top: 17px!important;
  }
  .header_logo {
    margin-top: 17px!important;
  }
  .header_navbg {
    .top-bar {
      .left {
        li {
          a {
            padding-left: 0!important;
            padding-right: 25px;
          }
        }
      }
    }
  }
  .content-left_question {
    padding: 0 20px;
  }
  .content-left_another-news, .content-left_company {
    padding-left: 20px;
  }
  .footer_developed-company {
    padding-right: 25px;
  }
    .content-left-fix .content-left_another-news, .content-left-fix .content-left_company {
    padding-left: 0!important;
  }
}
@media (max-width: 960px){
  .latest-news_header-block{
    h1 {

      font-size: 42px!important;
    }
  }
}
@media (max-width: 855px) {
  .header_navbg {
    .top-bar {
      .left {
        li {
          a {
            padding-right: 15px!important;
          }
        }
      }
    }
  }
  .latest-news_header-block {
    h1 {
      font-size: 32px !important;
    }
  }
}
@media (max-width: 840px) {
  .navbar-fix {
    width: 100%;
    right: 0;
    .top-bar {
      .left {
        margin: 0 auto;
        float: none!important;
        display: table;
        overflow: hidden;
      }
    }
  }
  .language-socials-fix {
    width: 100%;
    left: 0;
    float: right;
  }
  .content-left_next-event_header, .content-left_jobs_header {
    p {
      font-size: 14px!important;
    }
  }
}
@media (max-width: 640px) {
  .header_logo {
    a{
      display: table;
      margin: 0 auto;
    }
  }
  .userlist-userimg {
  margin-bottom: 25px;
}
      .content-left-fix .content-left_another-news, .content-left-fix .content-left_company {
    padding-left: 20px!important;
  }
  .user-block_inner {
    margin-left:0!important;
  }
  .content-right_popular-questions {
    margin-right: 0!important;
  }
  .content-right_user-rating {
    margin: 20px!important;
  }
  .expanded {
    .menu-icon {
      a::after {
        -webkit-box-shadow: 1px 10px 1px 1px $white, 1px 16px 1px 1px $white, 1px 22px 1px 1px $white !important;
        box-shadow: 0 10px 0 1px $white, 0 16px 0 1px $white, 0 22px 0 1px $white !important;
      }
      a {
        color: $white !important;
        
      }
    }
  }
  .content-right {
    margin-bottom: 30px;
  }
  .latest-news_header-block{
    h1 {
      margin-bottom: 5%!important;
    }
  }
  .more-button_white {
    margin-bottom: 20px;
  }
  .latest-news_another-news-block {
    padding: 0 30px;
    .latest-news_another-news-block_inner {
      margin-bottom: 20px!important;
    }
  }
  .content-left_next-event_header, .content-left_jobs_header {
    p {
      font-size: 16px!important;
    }
  }
  .user-block .columns.user-block_inner_right, .user-block .columns.user-block_inner_left {
    padding-left: 0px!important;
    padding-right: 0px!important;
  }
}

@media (max-width: 480px) {
  .latest-news_header-block{
    h1 {
      font-size: 28px!important;
    }
  }
}

@media (max-width: 479px) {
  .header_search-login {
    a {
      margin-left: 10px!important;
    }
    #ct-search {
      margin-right: 0px!important;
    }
  }
    .content-right_news_inner_post-text-button_blue-author-time-fix {
    width: 100%;
    padding-left: 0!important;
  }
  .content-right_news_inner_post-header {
    h5 {
      margin-top: 10%!important;
    }
  }
  .footer_copyright {
    margin-top: 30px!important;
  }
  .footer_developed-company{
    float: left!important;
    padding: 0 15px;
    width: 100%;
  }
}
@media (max-width: 385px) {
  .header_search-login .ct-search.ct-search-open .ct-search-input-wrap {
    width: 145px!important;
  }
  .header_search-login input[type="text"].ct-search-input {
    width: 128px!important;
  }

}
.cut {
  height:100px!important;
  overflow:hidden!important;
}