.content-right_popular-questions
  .content-right_popular-questions_header
    %p Популярні запитання
  .content-right_popular-questions_block
    .content-right_popular-questions_block_circle
      %p 25
    .content-right_popular-questions_block_question
      %p Ноутбуки Мак или Сони (выбор из двух
.clear-both