.content-right_user-rating
  .content-right_user-rating_header
    %p Рейтинг користувачів
  .content-right_user-rating_block
    .content-right_user-rating_user-img
      %img{src: "img/user-img.png"}
    .content-right_user-rating_user-name
      %p Alex
    .content-right_user-rating_user-rating
      %p 1364
  .clear-both