.buttons-block
  -if current_user.id == @ask.user_id
    =link_to 'Назад', asks_path, class: "more-button_blue"
    =link_to 'Редагувати', edit_ask_path(@ask), class: "more-button_blue"
    =form_for(@ask) do |f|
      =f.submit(class: "more-button_blue", value:'Вирішено!')
      =f.check_box :complete
  -else
    =link_to 'Назад', asks_path, class: "more-button_blue"
.clear-both