.content-left_comments
  .content-left_comments_header
    %p Відповіді
  -if @ask.comments.size > 0
    -for comment in @ask.comments
      .content-right_user-comments_block
        .content-right_user-comments_user-img
          =image_tag comment.user_image() if comment.user_image?
        .content-right_user-comments_user-name
          %p=comment.user_email
        .content-right_user-comments_date
        .clear-both
        .content-right_user-comments_text
          %p=comment.content
      .clear-both
  -if user_signed_in?
    =form_for [@ask, Comment.new] do |f|
      = f.text_area :content, placeholder: "Ваш коментар..."
      =f.submit value: 'Відповісти', class: "more-button_blue" 
  -else
    .buttons-block
      =link_to 'Назад', asks_path, class: "more-button_blue"