.large-8.medium-8.small-12.columns
  %h2.content-header Запитання
  .content-left
    -@asks.each do |ask|
      .content-left_question
        .large-12.medium-12.small-12.columns
          - if ask.complete == true
            .content-left_question_question-number.green
              %p=ask.comments.count
          - else  
            .content-left_question_question-number
              %p=ask.comments.count
          .content-left_question_question-text
            =link_to ask do
              %h3=ask.title
            .content-left_question_question-text_answers
              =link_to ask do
                %p=ask.comments.count.to_s + ' відповідей'
            .content-left_question_question-text_question-author
            -if ask.user_full_name.nil?
              %p=ask.user_email
            -else
              %p=ask.user_full_name
            .content-left_question_question-text_question-date
              %p 13:40, 4 березня
      .clear-both
  = paginate @asks