.content
  .row
    =render 'asks/partial/contentright'
    .large-4.medium-4.small-12.columns
      .content-left.content-left-fix
        =render 'partial/sidebar/addquestion'
        =render 'partial/sidebar/left/company'
        =render 'partial/sidebar/left/anothernews'
    