.large-8.medium-8.small-12.columns
  %h2.content-header Запитання
  .content-left
    .content-left_question
      .large-12.medium-12.small-12.columns
        -if @ask.complete == true
          .content-left_question_question-number.green
            %p=@ask.comments.count
        -else
          .content-left_question_question-number
            %p=@ask.comments.count
        .content-left_question_question-text
          %a{href: "#"}
            %h3=@ask.title
          .content-left_question_question-text_answers
            %p=@ask.comments.count.to_s + ' відповідей'
          .content-left_question_question-text_question-author
            -if @ask.user_full_name.nil?
              %p=@ask.user_email
            -else
              %p=@ask.user_full_name
          .content-left_question_question-text_question-date
            %p=@ask.created_at.to_s(:db)
          .clear-both
          = render('asks/partial/buttonsblock') 
        
          .content-left_question_question-text_question-ask
            %p=simple_format(@ask.content)
    =render 'asks/partial/comments'
    .clear-both