.content-left_company
  %h5 Компанії:
  .content-left_company_inner
    %a{href: "http://dcmedia.me"}
      =image_tag 'dc-media.png'
  .content-left_company_inner
    %a{href: "#"}
      =image_tag 'softserve.png'
  .content-left_company_inner
    %a{href: "#"}
      =image_tag 'ciklum.png'
  .content-left_company_inner
    %a{href: "#"}
      =image_tag '3shape.png'
  .content-left_company_inner
    %a{href: "#"}
      =image_tag 'eleks.png'
  .content-left_company_inner
    %a{href: "#"}
      =image_tag 'sysiq.png'
.clear-both