.content-left_jobs
  .content-left_jobs_header
    %p Вакансії
  .content-left_jobs-block
    .content-left_jobs-block-vacancy
      %a{href: "#"} Middle Java Developer
    .content-left_jobs-block-company
      %p BIONIC University
  .content-left_jobs-block
    .content-left_jobs-block-vacancy
      %a{href: "#"} Middle Java Developer
    .content-left_jobs-block-company
      %p BIONIC University
  .content-left_jobs-block
    .content-left_jobs-block-vacancy
      %a{href: "#"} Middle Java Developer
    .content-left_jobs-block-company
      %p BIONIC University
  .content-left_jobs-block
    .content-left_jobs-block-vacancy
      %a{href: "#"} Middle Java Developer
    .content-left_jobs-block-company
      %p BIONIC University
